aat>=0.0.3
aiostream>=0.3.1
ccxt>=1.18.529
cycler>=0.10.0
Jinja2>=3.1.4
matplotlib>=2.2.2
numpy>=1.22.2
pandas>=0.23.3
perspective-python>=0.1.6
pyarrow>=0.11.1
scipy>=1.10.0rc1
seaborn>=0.8.1
sphinx>=3.3.0
six>=1.10.0
requests>=2.31.0
tornado>=6.4.1
traitlets>=4.3.2
ujson>=5.4.0
websocket-client>=0.40.0
certifi>=2024.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
idna>=3.7 # not directly required, pinned by Snyk to avoid a vulnerability
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
jupyter-core>=4.11.2 # not directly required, pinned by Snyk to avoid a vulnerability
mistune>=2.0.3 # not directly required, pinned by Snyk to avoid a vulnerability
nbconvert>=6.3.0b0 # not directly required, pinned by Snyk to avoid a vulnerability
notebook>=6.4.12 # not directly required, pinned by Snyk to avoid a vulnerability
prompt-toolkit>=3.0.13 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.15.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability